<div class="site-wrapper">
 <div class="site-wrapper-inner">
   <div class="container">

      <div class="masthead clearfix">
        <div class="container inner">
           <h3 class="masthead-brand">Meetme</h3>
        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">Meet me</h1>
        <br>
        <p class="lead">Quickly create a shareable calendar to organize meetups with friends.</p>
        <br>
        <p class="lead">
          <button class="btn-lg btn-default"><%= link_to "Create new calendar", new_calendar_path %></button>
        </p>
      </div>

    </div>
  </div>
</div>


